@import "tailwindcss";

@font-face {
   font-family: Consolas, "Courier New", Menlo, Monaco, monospace;
   
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
   font-family: Consolas, "Courier New", Menlo, Monaco, monospace;
}

body {
    background: #75759c;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.pol-button {
    font-size: 15px;
    background-color:	#ff5a00;
    text-decoration: none;
    color: 	#fff5c3;
    padding: 14px 28px;
    border: 1px solid #ff7260;
    transition: 0.25s;
}

.pol-button:hover {
    cursor: pointer;
    background-color: #9dcecc;
}

.pol-button-slim {
    padding: 6px 16px;
}

.pol-button-form {
    height: 100%;
    padding: 9px 14px;
}

.pol-iconbtn {
    cursor: pointer;
    font-size: 18px;
    color: #A0BA87;
    transition: 0.25s;
}

.pol-iconbtn:hover {
    color: #8bb669;
}

.pol-button-circle {
    text-align: center;
    padding: 0;
    padding-top: 6.5px;
    font-size: 22px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pol-btn-x {
    padding: 4px;
    background: none;
    opacity: 0.6;
    border: none;
}

.pol-btn-x:hover {
    opacity: 1;
    background: none;
}

.pol-modal-wrapper {
    z-index: 99;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.pol-modal-overlay {
    min-height: 400px;
    z-index: 100;
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
}

.pol-modal {
    color: #771c1c;
    background: 	#fff5c3;
    display: block;
    border-radius: 6px;
    z-index: 101;
    padding: 18px;
    margin: auto;
}

.pol-modal-header {
    width: 100%;
    display: flex;
}

.pol-modal-content {
    padding-bottom: 22px;
}

.pol-text-dark {
    color: #2E4057;
}

.pol-img-preview-box {
    position: relative;
    cursor: pointer;
    display: flex;
    background: #202A33;
    width: 100%;
    height: 180px;
    z-index: 1;
    color: white;
}

.pol-img-preview-box img {
    transition: 0.25s;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.pol-img-preview-box .selection-overlay {
    position: absolute;
    transition: 0.25s;
    background: #000;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.pol-img-preview-box .selection-text {
    margin: auto;
    transition: 0.25s;
    z-index: 3;
}

.pol-img-preview-box:hover .selection-overlay {
    opacity: 0.55 !important;
}

.pol-img-preview-box:hover .selection-text {
    opacity: 1 !important;
}

.pol-sidebar {
    background: 	#ff9a00;
    color: #D1E2C4;
}

.pol-home {
    background: #0e0909;
}

.pol-modal-content {
    padding: 0 28px 22px 28px;
}

.pol-modal-large {
    min-width: 620px;
}

/* Responsive Modal */
@media screen and (max-width: 40rem) {
    .pol-modal {
        margin: 0 6px;
    }

    .pol-modal-large {
        min-width: 0;
    }

    .pol-button-slim {
        font-size: 12px;
    }
}

/* POLL CARD */
.pol-poll-header {
    background-color: #6e2c18;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    z-index: 1;
    display: flex;
}

.pol-poll-header span {
    margin: auto;
}

.pol-result {
    font-size: 15px;
    background-color: #49400b;
    text-decoration: none;
    color: #b8bb91;
    border: 1px solid #917f32;
    transition: 0.25s;
    display: grid;
    z-index: 1;
}

.pol-result-bar {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background: #a8945b;
    z-index: 2;
}

.pol-result-content {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
}

.pol-result-text {
    padding: 14px 28px;
    color: #fff;
}
