.splash {
    display: flex;
    background-color: #2A2E45;
    color: #E3DCC2;
}

.splash-left-corner {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    margin-left: 18px;
    margin-top: 14px;
}

.splash-content {
    z-index: 3;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32vh;
    text-align: center;
    padding-bottom: 28vh;
}

.splash-img {
    position: fixed !important;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.splash::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2A2E45;
    opacity: .65;
    z-index: 2;
}
